@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="text-center">
        <h1 class="display-4">HR Application</h1>
        <img src="images/Background.png" width="15%"/>
        <h3>Adding Form <a asp-action="Employee" class="btn btn-primary">click here</a></h3>
        <h3>Displaying Form <a asp-action="DisplayEmployees" class="btn btn-primary">Display All Employees</a></h3>
    </div>
</body>

</html>
